* {
	/*padding-left: 5px;*/
	margin-left: 5px;
}

body {
	font-family: sans-serif;
}

span.italic {
	font-style: italic;
}

span.technical-term {
	font-weight: bold;
	/*font-family: courier;*/
}

span.gpa {
	font-size: small;
	font-style: italic;
}