* {
	overflow-anchor: none;
}

body {
	font-family: sans-serif;
	background-image: url("/images/home-page-1.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
  background-size: cover;
}

div.navigation-bar {
	align-self: center;
	align-items: center;
	margin-left: auto;
	margin-right: auto;
}

nav {
	align-self: center;
	align-items: center;
	margin-left: auto;
	margin-right: auto;
	border: 1px solid lavendar;
	max-width: 700px;
}

li.nav-item:hover {
  background-color: #BF3F3F;
  opacity: 70%;
  text-align: center;
  color: #FFFFFF;
}

a.btn:hover {
	color: #FFFFFF;
}

a.btn {
	color: #A08787;
}

figure.desk-item:hover {
	background-color: #EEE7E7;
}


header{
	font-size: 12px;
	color: #ffffff;
  /*text-shadow: 0.25px 0.25px 0.25px #000000;*/
  padding: 10px;
  align-items: center;
  text-align: center;
}


header h2 {
  font-size: 60px;
  font-weight: 700;
  margin: 0;
  color: #fff;
}

#introductionDiv{
	margin-top: 10px;
	max-width: 300px;
	padding: 10px;
	color: #FFFFFF;
}

div.home-section {
	width: 600px;
	background-color: #FFFFFF;
	padding: 10px;
	margin: 5px;
	display: none;
}

div.resume-section {
	border-bottom: 1px solid rgba(100,100,100, 0.5);
	padding: 10px;
}

div.resumeDiv {
	display: none;
}

section.resume-item {
	padding: 0 15px;
}

section.desk-item {
	align-items: center;
}

img {
    position: relative;
    object-fit: scale-down;
    max-width: 100px;
    height: 160px;
}

.right-end, .date {
	text-align: right;
	padding: 0;
}

ul .text-center{
	align-self: center;
	align-items: center;
	margin-left: auto;
	margin-right: auto;
}


.home-section h2 {
	text-align: center;
	font-size: 24px;
	border-bottom: 1.5px solid rgba(100,100,100, 0.5);
}

span.italic {
	font-style: italic;
	font-size: 12px;
}

.italic {
	font-style: italic;
}

span.desk-author {
	font-size: 13px;
}

p.desk-title {
	font-size: 14px;
}

p.gpa {
	font-size: 14px;
	font-size: small;
	font-style: italic;
}

div.school-detail {
	margin: 0;
	padding: 0;
}

div, p.date {
	/*border: 1px solid black;*/
	margin: 0;
}

.resume-item {
	min-width: 100px;
}

.resume-item-title {
	font-size: 18px;
}

.resume-item-subtitle{
	font-size: 14px;
}

.resume-item-description {
	font-size: 14px;
}

div.logo-box {
	/*padding-left: 10px;*/
	margin-left: 10px;
	/*border: 1px solid black;*/
}

img.logo {
	object-fit: contain;
	width: 90%;
	height: 90%;
	/*border: 1px solid black;*/
	margin-right: 0;
	padding-right: 0;
}

img.sns-icon {
	width: 30px;
}

.date {
	font-size: 12px;
}

p.credit {
	color: #000000;
	font-size: 12px;
}

footer {
  font-size: 12px;
  padding: 20px 0;
}

footer .col-sm-8 {
  display: flex;
  justify-content: flex-end;
}

footer ul {
  list-style: none;
}

footer li img {
  width: 32px;
  height: 32px;
}