* {
    overflow-anchor: none;
}

body {
    font-family: sans-serif;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.6) 0 100%),
        url("/images/background/home-page-1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

div.navigation-bar {
    align-self: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

nav {
    align-self: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid lavendar;
    max-width: 700px;
}

li.nav-item:hover {
    background-color: #bf3f3f;
    opacity: 70%;
    text-align: center;
    color: #ffffff;
}

a.btn:hover {
    color: #ffffff;
}

a.btn {
    color: #ffadad;
}

header {
    font-size: 12px;
    color: #ffffff;
    text-shadow: 0.25px 0.25px 0.25px #000000;
    padding: 10px;
    align-items: center;
    text-align: center;
}

.gallery-date {
    color: #ffffff;
}

#introductionDiv {
    margin-top: 10px;
    max-width: 300px;
    padding: 10px;
    color: #ffffff;
    /*border: 1px solid black;*/
}

div.home-section {
    border-bottom: 1px solid rgba(100, 100, 100, 0.5);
    width: 700px;
    padding: 10px;
    margin: 5px;
}

.right-end,
.date {
    text-align: right;
    padding: 0;
}

ul .text-center {
    align-self: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.home-section h2 {
    text-align: center;
    font-size: 24px;
    border-bottom: 1.5px solid rgba(100, 100, 100, 0.5);
}

p.gallery-text {
    position: relative;
    color: #ffffff;
    font-size: 16px;
}

.gallery-ending{
    color: #FFFFFF;
    text-align: center;
}

img.image-normal {
    position: relative;
    object-fit: contain;
    width: 300px;
    height: auto;
    /*max-height: 400px;*/
}

img.image-large-horizontal {
    width: 825px;
    object-fit: contain;
}

footer {
    font-size: 12px;
    padding: 20px 0;
    color: #ffffff;
}

footer .col-sm-8 {
    display: flex;
    justify-content: flex-end;
}

footer ul,
header ul {
    list-style: none;
}

footer li img, img.sns-icon {
    width: 32px;
    height: 32px;
}
